<div class="header">
  <img src="/assets/flatiron.png" />
</div>

<div class="container">
<div class="trophy-box">
  <div class="trophy-header"><p>Current Points Leader</p></div>
  <div class="trophy-wrapper">
    <%= fa_icon "trophy 4x", :class => "icon-trophy" %>
    <p class="top-scorer-name">flatiron-school</p>
    <p class="top-scorer-points">21 events</p>   
  </div>
</div>

<div class="commit-block">
<h1 class="username">AYC726 <span class="timestamp">11:10:58</span></h1>
<p class="event-description">ForkEvent on flatiron-school/student-scraper-db-003-unit-1</p>
</div>

<div class="commit-block">
<h1 class="username">BandanaKM <span class="timestamp">11:08:40</span></h1>
<p class="event-description">ForkEvent on flatiron-school/rack-todo</p>
</div>

<div class="commit-block">
<h1 class="username">irmiller22 <span class="timestamp">10:55:16</span></h1>
<p class="event-description">ForkEvent on flatiron-school/rack-todo</p>
</div>