<div class="header">
  <img src="/assets/flatiron.png" />
</div>

<div class="container" ng-controller="CommitCtrl">

  <div class="commit-feed">
      <div class="commit-block" ng-repeat="commit in results.commits">
      <h1 class="username">{{ commit.name }}<span class="timestamp">{{ commit.time }}</span></h1>
      <p class="event-description">{{ commit.comment }} on {{ commit.repo}} </p>
  </div>

  <div class="trophy-div">

    <div class="trophy-box">
      <div class="trophy-header"><p>Current Points Leader</p></div>
      <div class="trophy-wrapper">
        <%= fa_icon "trophy 4x", :class => "icon-trophy" %>
        <p class="top-scorer-name"> {{ results.leader.name }} </p>
        <p class="top-scorer-points">{{ results.leader.commit_count }} commits</p>   
      </div>
    </div>

  </div>

</div>